
body {
    font-family: "Arial","Helvetica",sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

img {
    max-width:100%;
    height:auto;
}

table
{
border:1px solid #c3c3c3;
border-collapse:collapse;
}

table th
{
background-color:#f2f3f4;
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
text-align:left;
}

table td
{
/* background-color:#ffffff; */
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
text-align:left;
}

table td.num
{
/* background-color:#ffffff; */
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
text-align:right;
}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span, label
{ float: left;
  width: 150px;
  text-align: left;}

.form_settings input, .form_settings textarea
{ padding: 5px;
  width: 200px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

.form_settings input[type=checkbox]
{ width: 20px; }

/* .form_settings .submit
{ font: 100% arial;
  border: 1px solid;
  width: 150px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #263C56;
  color: #FFF;} */

.form_settings .submit
{   background: #dce1e9;
    border: 1px solid;
    border-radius: .5rem;
    padding: 0.4375rem 1rem 0.4375rem 1rem;
    cursor: pointer;}

.form_settings textarea, .form_settings select
{ font: 100% arial;
  width: 299px;}

.form_settings select
{ width: 200px;}

.form_settings .checkbox
{ margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;}


  button.menu {
    background: #dce1e9;
    border: 1px solid;
    border-radius: .5rem;
    padding: 0.4375rem 1rem 0.4375rem 1rem;
    cursor: pointer;
  }

  button.water {
    background:  #acddde;
    border: 1px solid;
    border-radius: .5rem;
    padding: 0.4375rem 1rem 0.4375rem 1rem;
    cursor: pointer;
  }


  button.fill {
    background:  #fef8dd;
    border: 1px solid;
    border-radius: .5rem;
    padding: 0.4375rem 1rem 0.4375rem 1rem;
    cursor: pointer;
  }


  .water {
    background:  #acddde;
  }

  .fill {
    background:  #fef8dd;
  }
