{% load i18n %}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/main.css" />
    <title>{% translate 'Watering' %}</title>
</head>

<body>
    {% include 'menu.html' %}

    {% block sitecontent %}

    {% endblock sitecontent %}

</body>

</html>
