{% extends "base.html" %}
{% load i18n %}

{% block sitecontent %}

<form action="{% url 'user_login_post' %}" method="post">
    <div class="form_settings">
        {% csrf_token %}
        <p><label id="login-label" for="login-name">{% translate 'Username' %}</label> <input id="login-input" type="text" name="username" size="10" /></p>
        <p><label id="password-label" for="login-password">{% translate 'Password' %}</label> <input id="password-input" type="password" name="password" size="10" /></p>
        <p><input class="submit" type="submit" value="{% translate 'Sign in' %}" /></p>
    </div>
</form>

{% endblock sitecontent %}
