{% load i18n %}

{% if user.is_active %}
<p>
    <button class="menu" onclick="location.href='{% url 'frontpage' %}'" type="button">{% translate 'Home' %}</button>
    <button class="menu" onclick="location.href='{% url 'stations' %}'" type="button">{% translate 'Stations' %}</button>
    <button class="menu" onclick="location.href='{% url 'plants' %}'" type="button">{% translate 'Plants' %}</button>
    <button class="menu" onclick="location.href='{% url 'user_logout' %}'" type="button">{% translate 'Logout' %}</button>
</p>
{% endif %}
