{% extends "base.html" %}
{% load i18n %}

{% block sitecontent %}

<h1>{{ obj.name }}</h1>

<p>{% translate 'Topping in ml' %}: <b>{{ obj.topping_in_ml }}</b></p>
<p>{% translate 'Bottle content in ml' %}: <b>{{ obj.bottle_content }} / {{ obj.bottle_capacity_in_ml }}</b></p>

<button class="water" onclick="location.href='{% url 'plant_water' pk=obj.pk %}'" type="button">{% translate 'To water' %}</button>
<button class="fill" onclick="refill()" type="button">{% translate 'To refill bottle' %}</button>
<button class="menu" onclick="location.href='{% url 'plant_edit' pk=obj.pk %}'" type="button">{% translate 'edit' %}</button>
<button class="menu" onclick="remove()" type="button">{% translate 'delete' %}</button>

<h2>{% translate 'Watering' %}</h2>

<table>
    <tr>
        <th>{% translate 'Time' %}</th>
        <th>{% translate 'Type' %}</th>
        <th>{% translate 'Topping (ml)' %}</th>
        <th>{% translate 'Status' %}</th>
        <th>{% translate 'User' %}</th>
    </tr>
    {% if queue %}
    {% for q in queue %}
    <tr class="{% if q.type == 'water' %}water{% else %}fill{% endif %}">
        <td>{{ q.created_at|date:"d.m H:i" }}</td>
        <td >{{ q.type }}</td>
        <td class="num">{{ q.topping_in_ml }}</td>
        <td class="num">{{ q.status }}</td>
        <td >{% if q.user %}{{ q.user.username }}{% else %}&nbsp;{% endif %}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

<script>
    function refill() {
        if (!confirm('{% translate 'Is the bottle full?' %}')) {
            return false;
         } else {
            location.href='{% url 'plant_refill' pk=obj.pk %}';
         }
    }

    function remove() {
        if (!confirm('{% translate 'Do you want to delete' %} {{ p.name }} ?')) {
            return false;
         } else {
            location.href='{% url 'plant_delete' pk=obj.pk %}';
         }
    }
</script>

{% endblock sitecontent %}
