{% extends "base.html" %}
{% load i18n %}

{% block sitecontent %}

<h1>{% translate 'Plants' %}</h1>

<p><button class="menu" onclick="location.href='{% url 'plant_edit' pk=0 %}'" type="button">{% translate 'Add new plant' %}</button></p>

<table>
    <tr>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Topping (ml)' %}</th>
        <th>{% translate 'Bottle content in ml' %}</th>

    </tr>
    {% if plants %}
    {% for p in plants %}
    <tr>
        <td><a href="{% url 'plant' pk=p.pk %}">{{ p.name }}</a></td>
        <td class="num">{{ p.topping_in_ml }}</td>
        <td class="num">{{ p.bottle_content }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock sitecontent %}
