{% extends "base.html" %}
{% load i18n %}

{% block sitecontent %}

<h1>{{ station.name }} - {% translate 'Temperature' %}</h1>

<button class="menu" onclick="location.href='{% url 'station_edit' pk=station.pk %}'" type="button">{% translate 'edit' %}</button>
<button class="menu" onclick="remove()" type="button">{% translate 'delete' %}</button>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="tempChart" width="800" height="400"></canvas>
<script>
const tempCtx = document.getElementById('tempChart').getContext('2d');
const tempChart = new Chart(tempCtx, {
    type: 'line',
    data: {
    labels : [{% for t in obj_list %}"{{ t.created_at|date:'H:i' }}",{% endfor %}].reverse(),
        datasets: [{
        label: "{% translate 'Temperature' %}",
        data : [{% for t in obj_list %}{{ t.temperature|stringformat:".2f" }},{% endfor %}].reverse(),
        backgroundColor: 'rgba(255, 0, 0, 0.2)',
        borderColor: 'rgba(255, 0, 0, 1)',
        borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


<canvas id="humChart" width="800" height="400"></canvas>
<script>
const humCtx = document.getElementById('humChart').getContext('2d');
const humChart = new Chart(humCtx, {
    type: 'line',
    data: {
    labels : [{% for t in obj_list %}"{{ t.created_at|date:'H:i' }}",{% endfor %}].reverse(),
        datasets: [{
        label: "{% translate 'Humidity' %}",
        data : [{% for t in obj_list %}{{ t.humidity|stringformat:".2f" }},{% endfor %}].reverse(),
        backgroundColor: 'rgba(0, 0, 255, 0.2)',
        borderColor: 'rgba(0, 0, 255, 1)',
        borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

<h2>{% translate 'Data' %}</h2>

<table>
    <tr>
        <th>{% translate 'Time' %}</th>
        <th>{% translate 'Temperature' %}</th>
        <th>{% translate 'Humidity' %}</th>
    </tr>
    {% if obj_list %}
    {% for t in obj_list %}
    <tr>
        <td>{{ t.created_at|date:"d.m.Y H:i" }}</td>
        <td class="num">{{ t.temperature|stringformat:".2f" }}</td>
        <td class="num">{{ t.humidity|stringformat:".2f" }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

<script>
    function remove() {
        if (!confirm('{% translate 'Do you want to delete' %} {{ station.name }} ?')) {
            return false;
         } else {
            location.href='{% url 'station_delete' pk=station.pk %}';
         }
    }
</script>

{% endblock sitecontent %}
