{% extends "base.html" %}
{% load i18n %}

{% block sitecontent %}

<h1>{% translate 'Stations' %}</h1>

<p><button class="menu" onclick="location.href='{% url 'station_edit' pk=0 %}'" type="button">{% translate 'Add new station' %}</button></p>

<table>
    <tr>
        <th>{% translate 'Name' %}</th>
    </tr>
    {% if stations %}
    {% for s in stations %}
    <tr>
        <td><a href="{% url 'station' pk=s.pk %}">{{ s.name }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock sitecontent %}
