{% extends "base.html" %}
{% load i18n %}

{% block sitecontent %}

<h1>{% translate 'Station' %}</h1>

<form action="{% url 'station_save' %}" method="post">
    <div class="form_settings">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ pk }}">
        {{ form.as_p }}
        <p>
            <input class="submit" type="submit" value="{% translate 'Save' %}" />
        </p>
    </div>
</form>

{% endblock sitecontent %}
